﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MultiCheckCombo.ascx.cs" Inherits="Hmc.Smo.Web.MultiCheckCombo" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<script type = "text/javascript"> 
//Script para incluir en el ComboBox1 cada item chekeado del chkListMateriales
function CheckItem2(checkBoxList)
{
    var options = checkBoxList.getElementsByTagName('input');
    var arrayOfCheckBoxLabels = checkBoxList.getElementsByTagName("label");
    //var arrayOfCheckBoxValues= checkBoxList.getElementsByTagName("value");
    var s = ",";
    var vv = ",";
    for(i=0;i<options.length;i++)
    {
        var opt = options[i];
        if(opt.checked)
        {
            s = s + ","+ arrayOfCheckBoxLabels[i].innerText; 
        } 
    }
        for(i=0;i<options.length;i++)
    {
            var opt = options[i];
          //  alert(opt);
        if(opt.checked)
        {
           //  alert(opt[i].value);
            vv = vv + "," + opt.value; 
        } 
    }
    if(s.length > 0) 
    {       
       s = s.substring(2, s.length); //sacar la primer 'coma'
    }
        if(vv.length > 0) 
    {       
       vv = vv.substring(2, vv.length); //sacar la primer 'coma'
    }
    var TxtBox = document.getElementById("<%=txtCombo.ClientID%>");       
    TxtBox.value = s;
    document.getElementById('<%=hidVal.ClientID %>').value = s;
  //  alert(document.getElementById('cphContent_soh').value);
    document.getElementById('cphContent_soh').value = vv;
    
}
</script>


<asp:TextBox ID="txtCombo" runat="server" ReadOnly="true"  Font-Size="X-Small"  CssClass="w3-input"></asp:TextBox>
<cc1:PopupControlExtender ID="PopupControlExtender111" runat="server" 
    TargetControlID="txtCombo" PopupControlID="Panel111" Position="Bottom" >
</cc1:PopupControlExtender>

<input type="hidden" name="hidVal" id="hidVal" runat="server" />

<asp:Panel ID="Panel111" runat="server" ScrollBars="Vertical" Width="400" Height="150"  BackColor="AliceBlue" BorderColor="Gray" BorderWidth="1">
    
    <asp:CheckBoxList ID="chkList"  CssClass="w3-input"
        runat="server" 
        Height="250" onclick="CheckItem2(this)">                                                                                                                                                                        
    </asp:CheckBoxList>
    
</asp:Panel>


