﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Hmc.Smo.Web.Site" %>

<%--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">--%>
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
   
<head id="Head1" runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to SmartOrder System by HMC</title>
    <script type="text/javascript" src="Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="Scripts/gridviewScroll.min.js"></script>
    <script type="text/javascript" src="Scripts/JScript.js"></script>
    <link type="text/css" href="Styles/site.css" rel="stylesheet" />
    <link type="text/css" href="Styles/w3.css" rel="stylesheet" />
    <link type="text/css" href="Styles/grid.css" rel="stylesheet" />
    <link type="text/css" href="Styles/image.css" rel="stylesheet" />
    <link type="text/css" href="Styles/panel.css" rel="stylesheet" />
  <link rel="stylesheet" href="Scripts/bootstrap.min.css">
  <script src="Scripts/jquery.min.js"></script>
  <script src="Scripts/bootstrap.min.js"></script>
            <link href="bc/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
            <link href="bc/metisMenu/dist/metisMenu.min.css" rel="stylesheet"/>
            <link href="Content/timeline.css" rel="stylesheet"/>
            <link href="Content/sb-admin-2.css" rel="stylesheet"/>

    <script src="Scripts/modernizr-2.6.2.js"></script>


    <!-- DataTables CSS -->
            <link href="bc/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- DataTables Responsive CSS -->
            <link href="bc/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" />
            <link href="bc/morrisjs/morris.css" rel="stylesheet" type="text/css" />
            <link href="bc/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
      <!-- Optional JS -->
 


    <!-- jQuery -->
    <script src="Scripts/jquery-1.10.2.js"></script>

    <script src="bc/jquery/dist/jquery.min.js"></script>
    
<script src="Scripts/respond.js"></script>
      <link href="assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <%--<link type="text/css" href="assets/css/argon.css?v=1.0.0" rel="stylesheet">--%>


    <script src="bc/metisMenu/dist/metisMenu.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .custom-menu {
            padding: 21px 12px 19px 12px !important;
            font-weight: normal;
        }

        h2 {
            color: #ffffff;
            padding-bottom: 0;
            margin-bottom: 0;
        }
  .nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: 	#055A83;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: white;
  line-height: 30px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #0F4159;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #0F4159;
  border: none;
  line-height: 28px;
  /*border-bottom: 1px solid #23282e;*/
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  /*background-color: #020203;*/
  /*background-color: #0F4159;*/
  background-color: #4f5b69;
  border-left: 3px solid #d19b3d;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "  ";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;

}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  /*border-left: 3px solid #d19b3d;*/
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
/*.panel-heading {
  padding: 0;
	border:0;
}*/
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   /*content: "\e114";*/
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 
.arrown {
    float: right;
    /* line-height: 1.42857; */
    vertical-align: middle;
}
 
a:hover   {cursor:pointer; }  /* mouse over link */
li {cursor: pointer}


    </style>
    <script>
        function openNav() {
            //alert('x');
            document.getElementById("nav-side-menu").style.width = "220px";
            document.getElementById("nav-side-menusmall").style.width = "0px";
            document.getElementById("container").style.marginLeft = "120px";
             document.getElementById("container").style.width = "90%";
        }
    function closeNav() {
        

        document.getElementById("nav-side-menusmall").style.width = "40px";
        document.getElementById("nav-side-menu").style.width = "0px";
        document.getElementById("container").style.marginLeft = "-120px";
         document.getElementById("container").style.width = "105%";


        }
          function Toggle() {
              var xx = document.getElementById("container").style.marginLeft;
              if (xx == '-120px') {
                     document.getElementById("nav-side-menu").style.width = "220px";
            document.getElementById("nav-side-menusmall").style.width = "0px";
            document.getElementById("container").style.marginLeft = "120px";
             document.getElementById("container").style.width = "90%";
              } else {
                   document.getElementById("nav-side-menusmall").style.width = "40px";
        document.getElementById("nav-side-menu").style.width = "0px";
        document.getElementById("container").style.marginLeft = "-120px";
         document.getElementById("container").style.width = "105%";
              }

        //document.getElementById("nav-side-menusmall").style.width = "40px";
        //document.getElementById("nav-side-menu").style.width = "0px";
        //document.getElementById("container").style.marginLeft = "-120px";
        // document.getElementById("container").style.width = "105%";


    }

</script>
    <asp:ContentPlaceHolder ID="head" runat="server">
     </asp:ContentPlaceHolder>
</head>
<%--<body onkeydown="return cancelBack()" style="min-width: 1200px;">--%>
    <body onkeydown="return cancelBack()" style="">
    <form id="form1" runat="server"  >
         <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>

<div class="nav-side-menu" style="width:220px"  id="nav-side-menu"  >
    <div class="brand">
    <asp:ImageButton ID="ImageButton2" PostBackUrl="~/OrderList.aspx" ImageUrl="~/Images/logo_horiz_col.png"
    runat="server" CssClass="logo" /><br><br></div>
<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content" ></i>
  
    <div class="menu-list">
  
    <ul id="menu-content" class="menu-content collapse in">
    
    <li  data-toggle="collapse" data-target="#Dashboard" id="mDashboard" >
    <a href="#"><i class="fa fa-dashboard fa-lg"></i> Dashboard </a>
    </li>
    <ul class="sub-menu" id="Dashboard">
    <li  id="nDashboard" ><a href="Dashboard.aspx"><i class=" fa fa-list-alt  fa-lg "></i> Dashboard</a></li>
    <li  id="nReport1"><a href="Report1.aspx"><i class="fa  fa-check-square-o fa-lg"></i> S/O Price Category</a></li>
    <%-- <li   id="nReport2"><a href="Report2.aspx"><i class="fa  fa-check-square-o fa-lg"></i> Report2</a></li>--%>
         <%if (CurrentUser!=null){%>
       <%if (CurrentUser.IsAdmin){%>
                    
    <li   id="nReport3"><a href="Report3.aspx"><i class="fa  fa-check-square-o fa-lg"></i>  Sales history</a></li>
        <%} %>
          <%} %>
    </ul>
    <li  data-toggle="collapse" data-target="#products" >
    <a href="#"><i class="fa fa-list-alt  fa-lg"></i> Orders </a>
    </li>
    <ul class="sub-menu" id="products">
    <li ><a href="orderlist.aspx"><i class=" fa fa-list-alt  fa-lg "></i> Orders</a></li>
    <li><a href="ShipmentBalanceList.aspx"><i class="fa  fa-check-square-o fa-lg"></i> Shipment Balance</a></li>
    <li><a href="ShipmentDetailList.aspx"><i class="fa  fa-check-square-o fa-lg"></i> Shipment Detail</a></li>
    <li><a href="AdvanceSalesList.aspx"><i class="fa  fa-check-square-o fa-lg"></i> Advance Sales</a></li>
    </ul>
     <li>
    <%if (CurrentUser!=null){%>
       <%if (CurrentUser.IsAdmin){%>
                    
   <a href="Announce.aspx"><i class="fa fa-sign-out fa-fw"></i> Announctment</a>
        <%} %>

     <%} %>
    </li>
    <li>
    <a href="Logon.aspx"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    </li>
   <%-- <li>

    <a href="#"   onclick="closeNav()"><i class="sv-slim-icon fas fa-angle-double-left"></i>Minimize
            menu </a>
    </li>--%>
     <%--   <li><a id="toggle" class="waves-effect"><i class="sv-slim-icon fas fa-angle-double-left"></i>Minimize
            menu</a>
        </li>--%>
           
    </ul>

    </div>
</div>
<div class="nav-side-menusmall" style="width:220px;"  id="nav-side-menusmall"  >
<div class="nav-side-menusmall" style="width:220px;display:block;"  >
   
<%--<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-contentsmall" onclick="openNav()"  style="margin-left:30px;"    ></i>--%>
  
<div class="menu-list">
  


</div>
</div>
</div>
<div class="container"   <%--style="background-color:deepskyblue"--%>  id="container">
        
<div style="display:none">
<div class="w3-col s8">
<asp:ImageButton ID="ImageButton1" PostBackUrl="~/OrderList.aspx" ImageUrl="~/Images/logo_horiz_col.png"
runat="server" CssClass="logo" />
<asp:SiteMapDataSource runat="server" ID="siteMap" />
<asp:Menu ID="menu" runat="server" Orientation="Horizontal" DataSourceID="siteMap"
StaticDisplayLevels="2" RenderingMode="List" IncludeStyleBlock="true">
<StaticMenuItemStyle CssClass="w3-bar-item w3-button custom-menu" />
<StaticSelectedStyle BackColor="DarkBlue" ForeColor="#ffffff" />
</asp:Menu>
</div>
<div class="w3-col s4">
<asp:Panel ID="pnlUserInfo" Visible='<%# HasLogin %>' runat="server">
<asp:Button ID="btnSignOut" Text="SIGN OUT" runat="server" CssClass="w3-bar-item w3-button w3-right custom-menu"
OnClick="btnSignOut_Click" />
<div class="w3-right" style="padding-right: 10px; padding-top: 8px">
<div class="w3-row">
<img src="Images/user_40_black.png" style="width: 18px; padding-right: 3px" />
<asp:Label ID="btnUserFullname" runat="server" Style="" />
</div>
<div class="w3-row">
<img src="Images/company_40_black.png" style="width: 18px; padding-right: 3px" />
<asp:Label ID="btnCompany" runat="server" />
</div>
</div>
</asp:Panel>
</div>
</div>
<div class="panel panel-smo" style="position:relative;margin-left:120px;">
<div class="panel-heading" style="font-weight:bolder;padding-top:0px;padding-bottom:0px">
                        
<asp:ContentPlaceHolder ID="cphPageName" runat="server" >
</asp:ContentPlaceHolder>
                       
                            
</div>
<div style="margin-top:0px;color:black;background-color:#f8f8f8;border:none">
            
<asp:ContentPlaceHolder ID="cpnButtons" runat="server">
</asp:ContentPlaceHolder>
                
</div>    
</div>
        
        
<div class="w3-container   w3-left-align" style="position:relative;margin-left:120px"  <%--style="width: 1200px; margin: 0 auto;"--%>>
           
<asp:Panel ID="pnlCriteria" runat="server" Visible='<%# IsShowCriteria %>'>
<asp:ContentPlaceHolder ID="cphCriteria" runat="server">
</asp:ContentPlaceHolder>
</asp:Panel>
<div style="min-height: 450px;">
<asp:ContentPlaceHolder ID="cphContent" runat="server" >
</asp:ContentPlaceHolder>
<asp:ContentPlaceHolder ID="cphContent2" runat="server">
</asp:ContentPlaceHolder>
</div>
</div>
<div class="div-bottom" style="position:relative;margin-left:120px" >
<div class="div-bottom-content">
<div class="div-bottom-text">
HMC Polymers Co., Ltd., ขอสงวนสิทธิ์ในการเปลี่ยนแปลงสินค้าและขนาดบรรจุภัณฑ์ เพื่อความเหมาะสมในการจัดส่งสินค้า
<br />
ตามที่ได้ตกลงร่วมกันกับทางลูกค้าเป็นที่เรียบร้อยแล้ว
</div>
<img src="Images/footer-img-1.png" class="div-bottom-img" />
<img src="Images/footer-img-2.png" class="div-bottom-img" />
<img src="Images/footer-img-3.png" class="div-bottom-img" />
</div>
</div>
<asp:Panel ID="pnlMsg" runat="server" CssClass="panel-popup" Width="500px" DefaultButton="btnMsgCancel">
<div class="panel-popup-hd">
<div class="row">
<asp:Image ID="Image2" ImageUrl="~/Images/notice_40_black.png" CssClass="panel-popup-hd-img"
runat="server" />
<div class="panel-popup-hd-text">
Message
</div>
</div>
</div>
<div class="panel-popup-content">
<div class="row">
<asp:TextBox ID="txtMsg" runat="server" CssClass="textbox" TextMode="MultiLine" Enabled="false" />
</div>
<div class="row" style="float: right">
<asp:Button ID="btnMsgCancel" Text="Close" runat="server" CssClass="button-img-white-s img-close-black" />
</div>
</div>
</asp:Panel>
<asp:Button ID="btnMsgHidden" runat="server" CssClass="hide" />
<atk:ModalPopupExtender ID="mpeMsg" BackgroundCssClass="panel-bg" PopupControlID="pnlMsg"
TargetControlID="btnMsgHidden" CancelControlID="btnMsgCancel" runat="server" />
</div>
   
    </form>
</body>
</html>
