﻿.grid .header a, .grid .item a, .grid .item-alt a, .grid .item td, .grid .item-alt td {
    color: #3e3e3e;
    color: #000;
}

.grid .item-alt td {
    background-color: #EFEFEF;
}

.grid .header th {
    padding: 12px 8px;
    white-space: nowrap;
    border-left: 1px solid #d8d7d7;
    font-size: 12px;
    background-color: red;
}

.grid .item td, .grid .item-alt td {
    padding: 10px 8px;
    white-space: nowrap;
    border-left: 1px solid #e8e8e8;
    font-size: 12px;
}

.grid .item-img td, .grid .item-img-alt td {
    padding: 6px 8px;
    white-space: nowrap;
    border: 1px solid #e8e8e8;
    font-size: 12px;
}

.grid .item-freeze {
    background-color: #EFEFEF;
}

.grid .col-fixed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    font-weight: bold;
}

    a:hover {
        text-decoration: underline;
    }


.pager {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 0px;
}

    .pager table > tbody > tr > td {
        display: inline;
    }

        .pager table > tbody > tr > td > a,
        .pager table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: dimgrey;
            background-color: #FFFFFF;
            /*background-color: #337AB7;*/
            border: 1px solid #dddddd !important;
            /*border: 1px solid #dddddd;*/
            border-radius: 0px;
            margin-left: -1px;
            border-color: #dddddd;
        }

        .pager table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #aea79f;
            font-weight: bold;
            color: #fff;
            background-color: #ec971f;
            /*background-color: #337AB7;*/
           
            border:1px solid #dddddd !important;

            /*border-radius: 8px;*/
            border-radius: 0px;
            cursor: default;
        }

        .pager table > tbody > tr > td:first-child > a,
        .pager table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pager table > tbody > tr > td:last-child > a,
        .pager table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pager table > tbody > tr > td > a:hover,
        .pager table > tbody > tr > td > a:focus {
            color: #aea79f;
            background-color: #f0ad4e;
            border-color: #dddddd;
        }

        .pager table > tbody > tr > td > span:focus,
        .pager table > tbody > tr > td > span:hover {
            background-color: #ec971f;
            color: #fff;
        }
