﻿.img-clip-gray {
    background-image: url(../images/clip_64_gray.png) !important;
}

    .img-clip-gray:hover {
        background-image: url(../images/clip_64_white.png) !important;
    }


.img-save-gray {
    background-image: url(../images/save_64_gray.png) !important;
}

    .img-save-gray:hover {
        background-image: url(../images/save_64_white.png) !important;
    }


.img-cancel-gray {
    background-image: url(../images/cancel_64_gray.png) !important;
}

    .img-cancel-gray:hover {
        background-image: url(../images/cancel_64_white.png) !important;
    }

.img-correct-gray {
    background-image: url(../images/correct_64_gray.png) !important;
}

    .img-correct-gray:hover {
        background-image: url(../images/correct_64_white.png) !important;
    }

.img-upload-gray {
    background-image: url(../images/upload_64_gray.png) !important;
}

    .img-upload-gray:hover {
        background-image: url(../images/upload_64_white.png) !important;
    }

.img-download-gray {
    background-image: url(../images/download_64_gray.png) !important;
}

    .img-download-gray:hover {
        background-image: url(../images/download_64_white.png) !important;
    }

.img-plus-gray {
    background-image: url(../images/plus_64_gray.png) !important;
}

    .img-plus-gray:hover {
        background-image: url(../images/plus_64_white.png) !important;
    }


.img-download-white {
    background-image: url(../images/download_40_white.png) !important;
}

.img-company-black {
    background-image: url(../images/company_40_black.png) !important;
}

.img-user-black {
    background-image: url(../images/user_40_black.png) !important;
}

.img-logout-black {
    background-image: url(../images/logout_40.png) !important;
}

.img-add-w {
    background-image: url(../images/add_40.png) !important;
}

.img-add-black {
    background-image: url(../images/add_40_black.png) !important;
}

.img-product-black {
    background-image: url(../images/product_40_black.png) !important;
}

/*.img-save-w {
    background-image: url(../images/save_40.png) !important;
}*/

/*.img-clip-white {
    background-image: url(../images/clip_40_white.png) !important;
}*/

.img-close-black {
    background-image: url(../images/close_40_black.png) !important;
}

.img-close-white {
    background-image: url(../images/close_40_white.png) !important;
}

.img-search {
    background-image: url(../images/search_40.png) !important;
}

.img-login-white {
    background-image: url(../images/login_40_white.png) !important;
}

.img-correct-white {
    background-image: url(../images/correct_40_white.png) !important;
}

.img-correct-black {
    background-image: url(../images/correct_40_black.png) !important;
}

.img-reject-white {
    background-image: url(../images/reject_40_white.png) !important;
}

.img-up-white {
    background-image: url(../images/up_40_white.png) !important;
}

.img-delete-white {
    background-image: url(../images/delete_40_white.png) !important;
}

.img-history-black {
    background-image: url(../images/history_40_black.png) !important;
}

.img-pdf-white {
    background-image: url(../images/pdf_32_w.png) !important;
}
