﻿* {
    font-family: Arial, Tahoma;
}

html, body, form {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
}


.img {
    width: 28px;
    height: 28px;
}

.textbox-login {
    color: #00467f;
    width: 400px;
    height: 24px;
    font-size: 16pt;
    padding: 10px 10px 10px 0;
    border: 0px none #fff;
    border-bottom: 2px solid #adabab;
}

    .textbox-login:focus {
        border-bottom: 2px solid #0370c8;
    }


.label-login {
    padding: 10px 0px;
    font-size: 16pt;
    color: #505050;
    font-family: Arial;
}

.button {
    color: #fff;
    font-size: 16pt;
    padding: 10px 50px;
    border: 1px solid #00467f;
    border-radius: 25px;
    background-color: #00467f;
    cursor: pointer;
}

    .button:hover {
        border: 1px solid #0370c8;
        background-color: #0370c8;
    }
